@import "src/styles.scss";

.background-image-gradient {
  @include BackGroundImage;
}
.container {
  padding: 1.5em;
  color: $primary-text-color;
  text-shadow: $text-shadow-main;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
h1 {
  font-size: calc($font-size-xl * 0.8);
  margin: 1.5em 0;
  font-size: $font-size-xl;
}
h2 {
  font-size: $font-size-large;
  margin-bottom: 1em;
}
ul {
  list-style-type: none;
  margin-bottom: 2em;
}
.contact-details {
  background: radial-gradient($primary-color, rgba($primary-color, 0.8));
  padding: 3em;
  border-radius: 2em;
  box-shadow: $box-shadow-main;
  span {
    font-weight: 600;
  }
  li {
    padding-left: 1em;
  }
}
