<section class="background-image-gradient">
    <div class="container">
        <h1>YHTEYSTIEDOT</h1>
        <ul class="styled-list">
            <h2>{{companyName}}</h2>
            <span>Puhelinnumero</span>
            <li>{{phone}}</li>
            <span>Sähköposti</span>
            <li>{{email}}</li>
            <span>Osoite</span>
            <li>{{address}}</li>
            <span>Verkkolaskutusosoite</span>
            <li>{{eInvoiceNr}}</li>
            <li>{{operator}}</li>
        </ul>
        <div class="container"><p>Normaali työaika on  ma-pe klo 07:00-15:30, jolloin vastaamme myös puhelimeen. Muina aikoina sähköposti on paras tapa ottaa yhteyttä</p></div>
    </div>
</section>