@import "src/styles.scss";

.background-image-gradient {
  @include theme($theme: BackGroundImage);
}
.container {
  padding: 1.5em;
  color: $primary-text-color;
  text-shadow: $text-shadow-main;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
h1 {
  font-size: calc($font-size-xl * 0.8);
  margin: 1.5em 0;
  font-size: $font-size-xl;
}
ul {
  list-style-type: none;
}
// h1 {
//   font-size: calc($font-size-xl * 0.8);
//   font-family: $hero-font-family;
//   font-weight: 900;
//   color: $primary-text-color;
//   text-shadow: $text-shadow-main;
// }

// .container {
//   font-weight: 600;
//   color: $primary-text-color;
//   font-size: $font-size-large;
//   text-shadow: $text-shadow-secondary;
// }
