/** Default font size calculated with Font-size Clamp Generator
    Min vw 320px, Max vw 1000px
    Min font size 0.8rem, Max font size 1.2rem **/
$font-size: clamp(1rem, 0.6118rem + 0.9412vw, 1.1rem);
$font-size-large: clamp(1.2rem, 1.0118rem + 0.9412vw, 1.6rem);
$font-size-xl: clamp(1.8rem, 1.1455rem + 3.2727vw, 3.6rem);
$line-height: 1.5;

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../../fonts/WorkSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../../fonts/Poppins-LightItalic.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../../fonts/WorkSans-ExtraBold.ttf") format("ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-ExtraBold.ttf") format("ttf");
  font-weight: 900;
  font-display: swap;
}

$hero-font-family: "Poppins", sans-serif;
$body-font-family: "Work Sans", sans-serif;
