$background-color-transparent: transparent;
$primary-color: #1d0578;
$secondary-color: #36a8ff;
$primary-text-color: #fdfff7;
$secondary-text-color: #100b00;
$primary-linear-gradient-overlay: linear-gradient(
  90deg,
  rgba(29, 5, 120, 1) 0%,
  rgba(0, 107, 144, 1) 50%,
  rgba(29, 5, 120, 1) 100%
);
