@import "src/assets/scss/variables/fonts.scss";
@import "src/assets/scss/variables/palette.scss";
// @import "src/styles.scss";

footer {
  width: 100%;
  bottom: 0;
  background-color: $footer-bg;
  color: $primary-text-color;
  display: flex;
  justify-content: space-around;
  // align-items: stretch;
  flex-direction: column;
  font-style: normal;
}
table {
  thead,
  tbody {
    th,
    td {
      text-align: left;
      padding: 1em;
      align-items: center;
    }
  }
}
.contact-phone {
  text-decoration: none;
  color: $primary-text-color;
}
a[href^="tel:"]:before {
  content: "\260E";
  margin-right: 0.5em;
  color: $primary-text-color;
}
.footer-table {
  flex: 1;
}
.italic-copyright {
  font-family: $body-font-family;
  font-style: italic;
  text-align: center;
  padding-top: 1em;
}
.trusted-partner-logo {
  width: clamp(100px, 50%, 200px);
}
.footer-logo {
  width: clamp(150px, 50%, 300px);
}
