@import "src/assets/scss/variables/fonts.scss";
@import "src/assets/scss/variables/palette.scss";
@import "src/styles.scss";

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  background-color: $footer-bg;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-style: normal;
  position: relative;
}
.footer-table {
  padding: 0 2em;
  flex: 1;
}
table {
  thead,
  tbody {
    th,
    td {
      text-align: left;
      padding: 0.5em;
      align-items: center;
      float: left;
      text-wrap: balance;
      display: inline-table;
    }
  }
}
.footer-table-left th {
  width: 30%;

  @media (max-width: $midBreakpoint) {
    width: 100%;
    padding: 0;
  }
}
.contact {
  margin-right: 0.5em;
}

.contact-phone {
  text-decoration: none;
  color: $primary-text-color;
  transition: $transition;

  &:hover {
    color: lightseagreen;
  }
  &:focus-visible {
    transform: scale(1.1);
    color: lightseagreen;
  }
}

.copyright {
  text-align: center;
  padding-top: 1.5em;
  margin: 0 auto;
  p,
  button,
  span {
    font-size: 0.8rem;
  }
}

.trusted-partner-logo {
  width: clamp(100px, 50%, 200px);
}
.footer-logo {
  width: clamp(150px, 50%, 300px);
}
.follow-on-instagram,
.contact-dev {
  background: none;
  border: none;
  color: $primary-text-color;
  transition: $transition;
  font-size: 0.8rem;
  &:hover {
    transform: scale(0.95);
    color: lightseagreen;
  }
  &:focus-visible {
    transform: scale(0.95);
    color: lightseagreen;
  }
}

.follow-on-instagram {
  position: relative;
  display: inline-block;
}

.follow-on-instagram .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: $secondary-text-color;
  color: $primary-text-color;
  text-align: center;
  border-radius: 0.25em;
  padding: 0.2em;
  position: absolute;
  z-index: 1;
  font-size: calc($font-size * 0.8);
  bottom: 100%;
  left: 50%;
  margin-left: calc(-50%);
}

.follow-on-instagram:hover .tooltiptext {
  visibility: visible;
}

.follow-on-instagram .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $secondary-text-color transparent transparent transparent;
}