@import "src/assets/scss/variables/fonts.scss";
@import "src/assets/scss/variables/palette.scss";
@import "src/styles.scss";

footer {
  width: 100%;
  bottom: 0;
  background-color: $footer-bg;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
.content-wrapper {
  margin-right: 4em;
}
table {
  thead,
  tbody {
    th,
    td {
      padding: 1em;
    }
  }
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
.italic-copyright {
  // font-family: $body-font-family;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding-top: 1em;
}
