<footer>
    <div class="footer-left">
        <table class="footer-table-left">
            <tr>
                <th>Nurmijärven LVI Oy</th>
            </tr>
            <dl>
                <dt>Puhelin</dt>
                <dd><a href='tel:+{{phone}}'>{{phone}}</a></dd>
            </dl>
            <dl>
                <dt>Sähköposti</dt>
                <dd>test@example.com</dd>
            </dl>
            <tr>
                <td><span>&copy;</span> {{footerCopyright}}</td>
            </tr>
        </table>
    </div>
    <div class="footer-right">
    <table class="footer-table-right">
        <tr>
            <th>Ota seurantaan meidän some</th>
        </tr>
        <tr>
            <td>Instagram</td>
        </tr>
    </table>
    </div>
    <!-- <button class="back-to-top">Takaisin ylös</button> -->
</footer>
