<footer>
    <div class="container">
    <div class="footer-table">
        <table class="footer-table-left">
            <thead>
            <tr>
                <th><a routerLink="/"><img class="footer-logo" src="assets/img/Logotiedostot/NLVI-logo-06.png" alt="Valkoinen Nurmijärven LVI logo"></a></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Puhelin</th>
                    <td><span class="contact"><fa-icon [icon]="['fas', 'phone']"></fa-icon></span><a class="contact-phone" href='tel:{{phone}}'>+358(0)404147502</a></td>
                </tr>
                <tr>
                    <th>Sähköposti</th>
                    <td><span class="contact"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></span>{{email}}</td>
                </tr>
                <tr>
                    <th>Y-tunnus</th>
                    <td><span class="contact"><fa-icon [icon]="['fas', 'address-card']"></fa-icon></span>{{businessId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer-table">
    <table class="footer-table-right">
        <thead>
            <tr>
                <th>Seuraa töitämme somessa: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button class="follow-on-instagram" type="button" aria-label="Open social media page on another tab" role="button" (click)="goToInstagram()"><span><fa-icon [icon]="faSquareInstagram" class="fa-fw" size="3x"></fa-icon></span></button></td>
            </tr>
            <thead>
                <tr>
                    <th>Yrityksemme on luotettava kumppani</th>
                </tr>
            </thead>
            <tr>
                <td><img class="trusted-partner-logo" src="assets/img/Logotiedostot/LK_valkoinen_rgb.jpg" alt="Luotettava kumppani logo"></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="copyright">
    <p><span>&copy;</span>{{footerCopyright}}</p>
    <div><p>Design and developement by </p><button class="contact-dev" type="button" role="button" (click)="goToDevContact()">Arttu Teronen</button></div>
</div>
</footer>
