<section class="hero">
<div>
    <p>Nurmijärven LVI Oy tarjoaa erikoisosaamista. 
        Meiltä onnistuu kiinteistösi vaativammatkin LVI-asennus, -huolto, ja ylläpitotyöt tarpeen mukaan. 
        Toimimme pääasiassa Nurmijärvellä ja lähikunnissa, mutta mikään matka ei ole este töiden hoitamiselle muuallakin.</p>
</div>
<div>
<p>Meille tärkeää on auttaa asiakkaita ja tuottaa palveluita, joita asiakas tarvitsee tinkimättä laadusta ja asenteesta.
Tarvitsetko yhteistyökumppanin tai sopimuksen?</p>
<div><a [routerLink]="['/yhteystiedot']"><button class="">Ota yhteyttä!</button></a></div>
</div>
</section>
<p>Instagram tilillämme päivitämme kuvia tekemistämme töistä. Ota tili seurantaan!</p>
<app-social-media></app-social-media>