<section class="hero">
<div class="hero-content">
    <div class="content-wrapper">
        <h1 class="hero-intro">Nurmijärven LVI Oy tarjoaa erikoisosaamista lämmön-, veden-, ja ilmanvaihdon alalla</h1>
    </div>
    <div class="content-wrapper">
        <h2 class="hero-intro-secondary">Meiltä onnistuu kiinteistösi vaativimmatkin LVI-asennus-, huolto-, ja ylläpitotyöt tarpeen mukaan. 
        Toimimme pääasiassa Nurmijärvellä ja lähikunnissa Uudenmaan alueella, mutta mikään matka ei ole este töiden hoitamiselle muuallakin.</h2>
    </div>
</div>
</section>
<div class="content-wrapper ">
<p>Meille tärkeää on auttaa asiakkaita ja tuottaa palveluita, joita asiakas tarvitsee tinkimättä laadusta ja asenteesta.
Tarvitsetko yhteistyökumppanin tai sopimuksen?</p>
<div><a [routerLink]="['/yhteystiedot']"><button class="">Ota yhteyttä!</button></a></div>
</div>
<p>Instagram-tilillämme päivitämme kuvia tekemistämme töistä. Ota tili seurantaan!</p>
<app-social-media></app-social-media>