<header>
    <nav>
      <ul class="menu-items-left">
        <li class="logo-link">
          <a
            routerLink="/"
            ariaCurrentWhenActive="page"
            (click)="closeMenuOnLoad()"
            tabindex="0"
          >
            <img class="menu-logo" src="assets/img/Logotiedostot/NLVI-logo-06.png" alt="Nurmijärven LVI Oy logo"></a
          >
        </li>
      </ul>
      <ul class="hamburger-menu" role="navigation" aria-label="Mobile" (click)="toggleMenu()" tabindex="-1">
            <button class="menu-icon-wrapper" type="button"><fa-icon [icon]="isMenuOpen ? ['fas', 'xmark'] : ['fas', 'bars']" class="fa-fw" size="2x" ></fa-icon></button>
      </ul>
      <ul class="menu-items-right" role="navigation" aria-label="Main" [class.is-open]="isMenuOpen">
        <li class="menu-item">
          <a
            routerLink="/palvelumme"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
            tabindex="0"
            (click)="toggleMenu()"
          >
            Palvelumme</a
          >
        </li>
        <li class="menu-item">
          <a
            routerLink="/hinnasto"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
            tabindex="0"
            (click)="toggleMenu()"
          >
            Hinnasto</a
          >
        </li>
        <li class="menu-item">
          <a
            routerLink="/yhteystiedot"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
            tabindex="0"
            (click)="toggleMenu()"
          >
            Yhteystiedot</a
          >
        </li>
      </ul>
    </nav>
  </header>