<header>
    <nav>
      <ul class="menu-items-left">
        <li class="logo-link">
          <a
            routerLink="/"
            ariaCurrentWhenActive="page"
          >
            <img class="menu-logo" src="assets/img/Logotiedostot/NLVI-logo-06.png" alt="Nurmijärven LVI Oy logo"></a
          >
        </li>
      </ul>
      <ul class="hamburger-menu" (click)="toggleMenu()">
          <li class="menu-icon-wrapper">
              <fa-icon [icon]="isMenuOpen ? ['fas', 'xmark'] : ['fas', 'bars']" class="fa-fw" size="2x" ></fa-icon>
          </li>
      </ul>
      <ul class="menu-items-right" [class.is-open]="isMenuOpen">
        <li class="menu-item">
          <a
            routerLink="/palvelumme"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
          >
            Palvelumme</a
          >
        </li>
        <li class="menu-item">
          <a
            routerLink="/hinnasto"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
          >
            Hinnasto</a
          >
        </li>
        <li class="menu-item">
          <a
            routerLink="/yhteystiedot"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page"
          >
            Yhteystiedot</a
          >
        </li>
      </ul>
    </nav>
  </header>