@import "src/assets/scss/variables/palette.scss";

header {
  height: 100%;
  display: block;
}
.menu-logo {
  width: clamp(150px, 50%, 300px);
}
nav {
  background-image: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  // width: 100vw;
  overflow: hidden;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}
nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
nav li.active {
  color: $primary-color;
  padding: 0;
  border-bottom: solid 3px $secondary-text-color;
}
nav li:hover {
  color: $primary-color;
}
