<header>
    <nav class="navbar">
      <ul class="menu-items-left">
        <li class="logo-link">
          <a
            routerLink="/"
            ariaCurrentWhenActive="page"
          >
            <img class="menu-logo" src="assets/img/Logotiedostot/NLVI-logo-06.png" alt="Nurmijärven LVI Oy logo"></a
          >
        </li>
      </ul>
      <ul class="menu-items-right">
        <!-- <li class="menu-item">
          <a
            class="button"
            routerLink="/"
            ariaCurrentWhenActive="page"
          >
            Etusivu</a
          > -->
        <li class="menu-item">
          <a
            class="menu-link"
            routerLink="/palvelumme"
            routerLinkActive="menu-link-active"
            ariaCurrentWhenActive="page"
          >
            Palvelumme</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            routerLink="/hinnasto"
            routerLinkActive="menu-link-active"
            ariaCurrentWhenActive="page"
          >
            Hinnasto</a
          >
        </li>
        <!-- <li class="menu-item">
          <a
            class="menu-link"
            routerLink="/tarinamme"
            routerLinkActive="menu-link-active"
            ariaCurrentWhenActive="page"
          >
            Tarinamme</a
          >
        </li> -->
        <li class="menu-item">
          <a
            class="menu-link"
            routerLink="/yhteystiedot"
            routerLinkActive="menu-link-active"
            ariaCurrentWhenActive="page"
          >
            Yhteystiedot</a
          >
        </li>
      </ul>
    </nav>
  </header>