<h1>PALVELUMME</h1>
<div class="container">
    <div><h2 class="services-subheading">Nurmijärven LVI Oy auttaa</h2></div>
    <div class="content-container">
    <h3>Autamme aina, kun asiakas sitä tarvitsee oli kyseessä sitten pieni pistevuoto, hananvaihto tai vaativampi LVI-laitteiden korjaus-, tai vaihtotyö.</h3>
    <p>Me teemme myös putkiremontit, viemäreiden korjauksia-, pienimuotoisia kuvauksia- ja avauksia.
    Eikö patterit tai lattia lämpene? Ei hätää! Ota yhteyttä niin korjataan tilanne.
    Me korjaamme tai vaihdamme oli kyse sitten porakaivopumpusta tai kiertovesipumpusta.
    Meidän kauttamme saat tarvittaessa sähkötöiden ammattilaisen hoitamaan pumppujen-, lämminvesivaraajan kytkennät tai muut sähkötyöt.
    </p>
    <div class="button-wrapper"><a [routerLink]="['/yhteystiedot']"><button class="button">Ota yhteyttä!</button></a></div>
    </div>
    <div class="content-container"><img src="assets/img/katto.jpg" class="service-image" alt="Kattotöitä"></div>
</div>
