@import "src/assets/scss/variables/fonts.scss";
@import "src/assets/scss/variables/palette.scss";

h1 {
  font-size: calc($font-size-xl * 0.8);
}
.content-wrapper {
  margin: 1.5em 2em;
  padding-top: 4em;
  //   min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: $font-size-large;
}
.content-container {
  flex: 1;
}
.content-container:first-child {
  margin-right: 0.5em;
}
.service-image {
  max-height: 100vh;
}
.services-subheading {
  float: left;
}
