<header>
  <nav class="navbar">
    <ul class="menu-items">
      <li class="menu-logo">
        <a
          class="button"
          routerLink="/"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          LOGO</a
        >
      </li>
      <li class="menu-item">
        <a
          class="button"
          routerLink="/palvelumme"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          Palvelumme</a
        >
      </li>
      <li class="menu-item">
        <a
          class="button"
          routerLink="/hinnasto"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          Hinnasto</a
        >
      </li>
      <li class="menu-item">
        <a
          class="button"
          routerLink="/tarinamme"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          Tarinamme</a
        >
      </li>
      <li class="menu-item">
        <a
          class="button"
          routerLink="/yhteystiedot"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          Yhteystiedot</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
