@import "src/styles.scss";

.top-btn {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  z-index: 111;
  border: 1px solid #fdfff7;
  font-size: $font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3em;
}
