<div class="background-image-gradient">
<div class="container">
    <h1>HINNASTO</h1>
    <div class="pricelist">
        <table>
            <thead>
                <tr>
                <th>Palvelu</th>
                <th><button class="button button-small toggleVAT" (click)="toggleVAT()">{{!isVATprice ? priceWithVAT : priceWithoutVAT}}</button></th>
                </tr>
            </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productName}}</td>
            <ng-container *ngIf="isVATprice; then withoutVAT; else withVAT"></ng-container>
            <ng-template #withVAT><td class="price">{{product.productPriceAlv}}</td></ng-template>
            <ng-template #withoutVAT><td class="price">{{product.productPriceNoAlv}}</td></ng-template>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="pricing-details">
        <ul class="styled-list">
            <li>Normaali työaika on  ma-pe klo 07:00-15:30</li>
            <li>Ylityöt veloitetaan asiakkaalta mikäli toisin ei sovittu</li>
            <li>Ensimmäiset 2h ylitöitä +50% sen jälkeen +100% normaaliin tuntiveloitukseen.</li>
            <li>Minimiveloitus 2h.</li>
            <li>Ilta/yötyö +100% normaaliin tuntiveloitukseen.</li>
            <li>Lauantai +100% normaaliin tuntiveloitukseen.</li>
            <li>Sunnuntai/arkipyhät +200% normaaliin tuntiveloitukseen.</li>
            <li>Mahdollinen pysäköintimaksu veloitetaan asiakkaalta.</li>
        </ul>
    </div>
</div>
</div>