<section class="container">
        <div class="container"><h2 class="section-title">Instagram-tilillämme päivitämme kuvia tekemistämme töistä. Ota tili seurantaan!</h2></div>
    <p *ngIf="postsResponse.length < 1 && !isFetching">Hmm... Instagram-syöte näyttää tyhjältä. Palataan pian asiaan!</p>
    <ul class="posts" *ngIf="postsResponse.length >= 1 && !isFetching">
        <li class="card" *ngFor="let post of postsResponse">
            <div class="post-image"><img [src]="post.media_url" [alt]="post.caption"></div>
            <!-- @TODO: Change caption color on hashtags -->
            <div class="caption-text"><p>{{post.caption}}</p></div>
            <div class="button-wrapper"><a class="button button-small link" href="{{ post.permalink }}" target="_blank" rel="noopener">
                Näytä Instagramissa</a></div>
        </li>
    </ul>
</section>