/* You can add global styles to this file, and also import other style files */

@import "assets/scss/variables/fonts.scss";
@import "assets/scss/variables/palette.scss";
*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-size: $font-size;
}
